<meta name="viewport" content="width=device-width, initial-scale=1"> 
<div class="box-content col-sm-12 row">
    <title>Subir propiedad - Inmobiliario</title>
    <div class="container">
      <h1>Subir propiedad - Inmobiliario</h1>
      <form action="submit-property.php" method="POST" enctype="multipart/form-data">
        <div>
          <div class="card sub_img   col-sm-12">
            <img [src]="imgSrc1" *ngIf="imgSrc1" class="img-fluid card-img" />
            <div class="card-img-overlay">
              <label for="formFile0" class="subir1"
                ><i class="fa fa-images" style="font-size: 45px"></i></label>
              <input
                class="form-control d-none"
                type="file"
                id="formFile0"
                name="formFile0"
                (change)="onfile($event, 0)"
              />
            </div>
          </div>
          <div class="row col-sm-12">
            <div class="card sub_img_2  ">
              <img [src]="imgSrc2" *ngIf="imgSrc2" class="img-fluid card-img" />
              <div class="card-img-overlay">
                <label for="formFile1" class="subir2"
                  ><i class="fa fa-images" style="font-size: 35px"></i></label>
                <input
                  class="form-control d-none"
                  type="file"
                  id="formFile1"
                  name="formFile1"
                  (change)="onfile($event, 1)"
                />
              </div>
            </div>
            <div class="card sub_img_2  ">
              <img [src]="imgSrc3" *ngIf="imgSrc3" class="img-fluid card-img" />
              <div class="card-img-overlay">
                <label for="formFile2" class="subir2"
                  ><i class="fa fa-images" style="font-size: 35px"></i></label>
                <input
                  class="form-control d-none"
                  type="file"
                  id="formFile2"
                  name="formFile2"
                  (change)="onfile($event, 2)"
                />
              </div>
            </div>
            <div class="card sub_img_2">
              <img [src]="imgSrc4" *ngIf="imgSrc4" class="img-fluid card-img" />
              <div class="card-img-overlay">
                <label for="formFile3" class="subir2"
                  ><i class="fa fa-images" style="font-size: 35px"></i></label>
                <input
                  class="form-control d-none"
                  type="file"
                  id="formFile3"
                  name="formFile3"
                  (change)="onfile($event, 3)"
                />
              </div>
            </div>
            <div class="card sub_img_2">
              <img [src]="imgSrc5" *ngIf="imgSrc5" class="img-fluid card-img" />
              <div class="card-img-overlay">
                <label for="formFile4" class="subir2"
                  ><i class="fa fa-images" style="font-size: 35px"></i></label>
                <input
                  class="form-control d-none"
                  type="file"
                  id="formFile4"
                  name="formFile4"
                  (change)="onfile($event, 4)"
                />
              </div>
            </div>
            <div class="card sub_img_2">
              <img [src]="imgSrc5" *ngIf="imgSrc5" class="img-fluid card-img" />
              <div class="card-img-overlay">
                <label for="formFile4" class="subir2"
                  ><i class="fa fa-images" style="font-size: 35px"></i></label>
                <input
                  class="form-control d-none"
                  type="file"
                  id="formFile4"
                  name="formFile4"
                  (change)="onfile($event, 4)"
                />
              </div>
            </div>
            </div>
          </div>
        
        <br>

        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>
  
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" required>
  
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" rows="4" cols="50"></textarea>
  
        <label for="tipo">Tipo de propiedad:</label>
        <select id="tipo" name="tipo">
          <option value="casa">Casa</option>
          <option value="departamento">Departamento</option>
          <option value="terreno">Terreno</option>
        </select>
  
        <label for="ubicacion">Ubicación:</label>
        <input type="text" id="ubicacion" name="ubicacion">
  
        <label for="metros-cuadrados">Metros cuadrados:</label>
        <input type="number" id="metros-cuadrados" name="metros-cuadrados">
  
        <input type="submit" value="Subir propiedad">
      </form>
    </div>
</div>