<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">OuDen<span></span></h5>
                        <p>About the company, little description will goes here.. </p>
                        <p>About the company, little description will goes here.. </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Quick Links<span></span></h5>
                        <p class="pLink"><a href="#"> Publicaciones</a></p>
                        <p class="pLink"><a href="#"> Preguntas </a></p>
                        <p class="pLink"><a href="#"> Contactos </a></p>
                        <p class="pLink"><a href="#"> Politica de privacidad </a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Follow up<span></span></h5>
                        <a href="#"> <i class="fa fa-facebook"> </i> </a>
                        <a href="#"> <i class="fa fa-twitter"> </i> </a>
                        <a href="#"> <i class="fa fa-telegram"> </i> </a>
                        <a href="#"> <i class="fa fa-paypal"> </i> </a>
                        <a href="#"> <i class="fa fa-instagram"> </i> </a>
                        <a href="#"> <i class="fa fa-twitch"> </i> </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Contact Us<span></span></h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        <div class="emailfield">
                            <form>
                                <input type="text" name="email" placeholder="Email">
                                <input class="submitbutton ripplelink" type="submit" value="Enviar">
                            </form>
                        </div>
                    </div>
                </div>
                <div class=" borCryp text-center">
                    <p class="m-3">© 2023 Framer, Inc. | OuDen Company</p>
                </div>
            </div>
        </div>
    </div>
</footer>