.busc {
  font-size: 24px;
}

.imag-fondo {
  position: relative;
  height: 300px;
  background-image: url("/assets/imag/ryan-ancill-nGsVMkRatgM-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.formSearch {
  width: 100%;
}
.imag-fondo .contenido-imag form .contentInputMg {
  display: flex;
  flex-direction: column;
  width: auto;
}
.imag-fondo .contenido-imag form .contentInputMg input,
.imag-fondo .contenido-imag form .contentInputM span {
  width: 100%;
}
.contenido-imag {
  display: flex;
  height: 131px;
  padding: 0px 23px;
  flex-direction: column;
  text-align: center;
  background-color: #2595beb1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
}

.contenido-imag > p {
  margin: 10px;
}

.dd {
  display: flex;
}

#carouselExampleCaptions {
  position: absolute;
}

.logos img {
  width: 200px;
}

.logos {
  width: 90%;
  justify-content: center;
  margin: auto;
  align-items: center;
  gap: 60px;
  display: flex;
  vertical-align: middle;
}

.img-empreinfo {
  object-fit: cover;
  height: 300px;
}

.lado {
  background-color: white;
  padding: 30px;
}

.form-select {
  width: fit-content;
  max-width: 165px;
}

.img-empreinfo {
  width: 47.5%;
  border-radius: 5px;
}

#info-empresa {
  background-color: #c8ccd5;
}

.accordion-button {
  border-bottom: 1px solid #2595be;
}

.accordion-item {
  border: 0px;
}

.accordion {
  --bs-accordion-active-bg: #2595be25;
  --bs-accordion-active-color: black;
}

.buscador {
  width: 400px;
  height: fit-content;
  padding: 7px;
  border-radius: 7px;
  border: none;
}
