<meta name="viewport" content="width=device-width, initial-scale=1"> 
<div class="box-content col-sm-12 row">
    <div class="form" id="login col-sm-12 row">
        <h2>SUbir</h2>
        <div class="contenedor col-sm-6">
            <img src="../../../assets/imag/chalet-es-camp-de-mar-copia-1658919476.jpg" alt="Imagen">
            <div class="capa"></div>
        </div>
        <div class="contenedor col-sm-6">
            <img src="../../../assets/imag/chalet-es-camp-de-mar-copia-1658919476.jpg" alt="Imagen">
            <div class="capa"></div>
        </div>

    </div>
</div>