<meta name="viewport" content="width=device-width, initial-scale=1"> 
<div class="box-content col-sm-12 row">
    <div class="form" id="login col-sm-12 row">
        <h2>Subir</h2>
        <a href="form_subir">
            <div class="contenedor col-sm-6">
                <img src="../../../assets/imag/chalet-es-camp-de-mar-copia-1658919476.jpg" alt="Imagen">
                <span>Planos</span>
                <div class="capa"></div>
            </div>
        </a>
        <a href="form_subir">
            <div class="contenedor col-sm-6">
                <img src="../../../assets/imag/chalet-es-camp-de-mar-copia-1658919476.jpg" alt="Imagen">
                <span>Constución</span>
                <div class="capa"></div>
            </div>
        </a>

    </div>
</div>