<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6" style="background-color: #C8CCD5;" >
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <h4 class="mt-1 mb-5 pb-1">Login</h4>
                  </div>
  
                  <form>
                    <p>Please login to your account</p>
  
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example11" class="form-control" placeholder="email address" />
                      <label class="form-label" for="form2Example11">Username</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example22" class="form-control" placeholder="password"  />
                      <label class="form-label" for="form2Example22">Password</label>
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Log
                        in</button>
                      <a class="text-muted" href="#!">Forgot password?</a>
                    </div>
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <button type="button" class="btn btn-outline-danger">Create new</button>
                    </div>
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2 imag-fondo">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--
    <div class="col-12 row">
        <div class="col-6 contenido-Log">
            <h1 class="text-center pt-lg-5">login</h1>
            <div class="contenido-Log" >
                <form class="formularioLogin formLogin" [formGroup]="formLogin" (submit)="submitLogin()">
                    <div class="form-outline mb-4">
                    <label for="email">Email:</label>
                    <input type="email" id="email" class="form-control"  name="email"  formControlName="email" placeholder="Email">
                    <span class="errorMessage" *ngIf="formLogin.get('email')?.hasError('required') && (formLogin.get('email')?.dirty || formLogin.get('email')?.touched)" >Este campo es requerido</span>
                    </div>
                    <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" class="form-control" name="password" formControlName="password" placeholder="Password">
                    <span class="errorMessage" *ngIf="formLogin.get('password')?.hasError('required') && (formLogin.get('password')?.dirty || formLogin.get('password')?.touched)" >Este campo es requerido</span>
                    </div>
                    <button class="btn-primary btn  my-3" type="submit">Login</button>
                </form>
            </div>
            
        </div>
        <div class="col-6 imag-fondo">
        
        </div>
    </div> 
 -->