<meta name="viewport" content="width=device-width, initial-scale=1"> 
 <div class="box-content col-sm-6">
    <div class="form" id="login col-xs-6">
        <h2>Login</h2>
        <form class="formularioLogin formLogin" [formGroup]="formLogin" (submit)="submitLogin()">
            <div class="cajaDatos  caja-datos-mail">
                <p class="icono-user" for="email">
                    <fa-icon [icon]="mail"> </fa-icon>
                </p>
                        <input
                        [className]="formLogin.get('email')?.touched && formLogin.get('email')?.errors ? 'error-input' : '' "
                        class="flex-grow-1 validacion" type="email" id="email" formControlName="email" placeholder="Email">
                    <span class="errorMessage"
                        *ngIf="formLogin.get('email')?.errors?.['required'] && formLogin.get('email')?.touched">Este
                        campo es requerido
                    </span>
                    <span class="errorMessage" *ngIf="formLogin.get('email')?.hasError('email')">Introduzca
                        un email valido</span>
            </div>
            <div class="cajaDatos  caja-datos-contra">
                <p class="icono-user" for="usuario">
                    <fa-icon [icon]="lock"> </fa-icon>
                </p>
                <input 
                    [className]="formLogin.get('password')?.touched && formLogin.get('password')?.errors?.['required'] ? 'error-input' : '' "
                    class="flex-grow-1 validacion" type="password" id="password" formControlName="password"
                    placeholder="Password" name="password">
                <span class="errorMessage"
                    *ngIf="formLogin.get('password')?.hasError('required') && (formLogin.get('password')?.dirty || formLogin.get('password')?.touched)">Este
                    campo es requerido</span>
            </div>
            <input class="btn-general btn w-100 my-3" type="submit" value="Log in">
        </form>
        <span class="mgerror" *ngIf="errormg">Email or password incorrect</span>
        <div class="text-center pt-1 mb-5 pb-1">
          <a  href="#">Forgot password?</a>
        </div>
        <span class="spanLogin">Don't have an account?<a href="register">Create new</a></span>
        <div class="box-registres">
            <span>Login width:</span>
            <div class="iconos">
                <a class="face" href=""><i class="fa fa-facebook"> </i></a>
                <a href=""><i class="fa fa-google"></i></a>
                <a href=""><i class="fa fa-twitter"> </i></a>
            </div>
            <div class="btn-descargas">
                <button><img src="../../../assets/imag/down-apple.png" alt=""></button>
                <button><img src="../../../assets/imag/down-g-p.png" alt=""></button>
            </div>
        </div>
    </div>
    <div id="portada">
        
    </div>