<nav class="navbar navbar-expand-lg bg-body">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="/">
            <img src="assets/imag/logo.png" width="20%">
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <form class="d-flex" role="search">
                <input class="form-control d-none me-2" type="search" placeholder="Search" aria-label="Search">
                <p class="btn border-0 bg-body boton_buscar "><i class="busc fa fa-search"></i></p>
            </form>
            <a class="nav-link w-25" href="#">Contact</a>
            <a class="nav-link w-25" href="about">About Us</a>
            <a class="btn btn-dark " href="# ">Signup</a>
            <a class="btn btn-dark " href="register ">Register</a>
        </div>
    </div>
</nav>