<nav class="navbar navbar-expand-lg bg-body">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <img src="assets/imag/logo.png">
        </a>
        <button class="navbar-toggler bb" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <div class="links">
                <a class=" mx-3 " href="contact">Contact</a>
                <a class="mx-3 " href="about">About Us</a>
                <div class="bottom">
                    <a class=" logReg mx-2 " href="login">Signup</a>
                    <a class=" logReg mx-2  " href="register ">Register</a>
                </div>
            </div>

        </div>
    </div>
</nav>