<div class="content">
  <span class="pb-4 d-block">Busqueda:</span>
  <div class="casas">
    <div class="casa">
      <div class="portada">
        <img
          src="assets/imag/chalet-la-zabaleta-idealista-1658919505.jpg"
          alt=""
        />
      </div>
      <div class="descripcion">
        <a>
          {{ "" }}
          <span>{{ "" }}</span>
        </a>
        <span class="precio">{{ "" }}€</span>
        <div class="contentUbicacion">
          <span class="bold">{{ "" }}</span>
        </div>
        <div class="d-flex gap-3 caracter-casa iconos">
          <div class="info-casaMin">
            <img src="assets/svg/cama (1).png" class="icon" alt="..." />
            <span>{{ "" }} Hab</span>
          </div>
          <div class="info-casaMin">
            <img src="assets/svg/ducha.png" class="icon" alt="..." /><span
              >{{ "" }} Baños</span
            >
          </div>
          <div class="info-casaMin">
            <img src="assets/svg/zona.png" class="icon" alt="..." /><span
              >{{ "" }} m²</span
            >
          </div>
        </div>
        <p>
          {{ "" }}
        </p>
        <div
          class="lastSection d-flex justify-content-between align-items-center gap-2"
        >
          <div class="links d-flex gap-3">
            <a class="btn-general">Contactar</a>
            <a class="link-btn" href="">
              <img
                class="icon-xs"
                src="assets/svg/call_FILL1_wght400_GRAD0_opsz48.svg"
                alt=""
              />
              <span>{{ "" }}</span>
            </a>
          </div>
          <div class="btns d-flex gap-2">
            <button class="btn-icon">
              <img src="assets/svg/delete.png" alt="" />
            </button>
            <button class="btn-icon">
              <img
                src="assets/svg/favorite_FILL0_wght400_GRAD0_opsz48.svg"
                alt=""
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="">
    <h3>
      Hemos mirado por todas partes pero... no hemos encontrado lo que buscas :(
    </h3>
  </div>
</div>
