<meta name="viewport" content="width=device-width, initial-scale=1"> 
<div class="box-content col-sm-12">
    <div class="content">
    <div class="casas">
    <div class="casa">
      <div class="portada">
        <img
          src="assets/imag/chalet-la-zabaleta-idealista-1658919505.jpg"
          alt=""
        />
      </div>
      <div class="descripcion">
        <h2>Promocion <span>residencial casa blanca</span></h2>
        <span class="precio">341,933€</span>
        <div class="contentUbicacion">
          <span class="bold">Casa O chalet</span>
          <span class="ubicacion">En Horta - Guinardo</span>
        </div>
        <div class="d-flex gap-3 caracter-casa iconos">
          <div class="info-casaMin">
            <img src="assets/svg/cama (1).png" class="icon" alt="..." /><span
              >4 Habi.</span
            >
          </div>
          <div class="info-casaMin">
            <img src="assets/svg/ducha.png" class="icon" alt="..." /><span
              >3 baños</span
            >
          </div>
          <div class="info-casaMin">
            <img src="assets/svg/zona.png" class="icon" alt="..." /><span
              >284 m²</span
            >
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam,
          consequuntur facilis cum amet sit, sequi adipisci ad necessitatibus
          voluptas earum
        </p>
        <div class="lastSection d-flex justify-content-between align-items-center gap-2">
          <div class="links d-flex gap-3">
            <a class="btn-general">Contactar</a>
            <a class="link-btn" href="">
              <img
                class="icon-xs"
                src="assets/svg/call_FILL1_wght400_GRAD0_opsz48.svg"
                alt=""
              />
              <span>34342312</span>
            </a>
          </div>
          <div class="btns d-flex gap-2">
            <button class="btn-icon">
              <img src="assets/svg/delete.png" alt="" />
            </button>
            <button class="btn-icon">
              <img
                src="assets/svg/favorite_FILL0_wght400_GRAD0_opsz48.svg"
                alt=""
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>