<p>busqueda works!</p>
<app-filtros></app-filtros>
<div class="content">
    <div class="casa">
        <div class="portada">
            <img src="assets/imag/chalet-la-zabaleta-idealista-1658919505.jpg" alt="">
        </div>
        <div class="descripcion">
            <h2>Promocion residencial casa blanca</h2>
            <span>341,933€</span>
            <div>
                <span>Casa O chalet</span>
                <span>En Horta - Guinardo</span>
            </div>
            <div class="iconos">
                <div>
                    <img class="icon" src="assets/svg/cama (1).png" alt="">
                    <span>4 Habit</span>
                </div>
                <div>
                    <img class="icon" src="assets/svg/ducha.png" alt="">
                    <span>3 baños</span>
                </div>
                <div>
                    <img class="icon" src="assets/svg/zona.png" alt="">
                    <span>234m2</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, consequuntur facilis cum amet sit,
                    sequi adipisci ad necessitatibus voluptas earum</p>
            </div>
            <div class="lastSection">
                <div class="btns">
                    <a>Contactar</a>
                    <a>34342312</a>
                </div>
                <div>
                    <button>x</button>
                    <button><img class="icon" src="assets/svg/favorite_FILL0_wght400_GRAD0_opsz48.svg" alt=""></button>
                </div>
            </div>

        </div>
    </div>
</div>