<div class="box-input">
  <div class="viewInput">
    <span>{{ selectedOption }}</span>
    <fa-icon (click)="showInput()" class="icon" [icon]="arrowIcon"></fa-icon>
  </div>
  <div class="selectInput" *ngIf="isOpen">
    <div
      class="dato"
      *ngIf="selectedOption != 'Indiferent'"
      (click)="selectOption('Indiferent')"
    >
      {{ "Indiferent" }}
    </div>

    <div
      class="dato"
      *ngFor="let option of options"
      (click)="selectOption(option)"
    >
      {{ option }}
    </div>
  </div>
</div>
