
.formularioLogin h3 {
    font-size: 25px;
}

label {
    width: 100%;
}

.box-content{
    display: flex;
    width: 100%;
    gap: 30px;
}

.box-content .form{
    width: 50%;
}

.box-content #portada{
    flex: 1;
}
/* caja datos inputs con iconos*/
.cajaDatos {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
}

.cajaDatos p{
    position: absolute;
    left: 11px;
    margin: 0;
}


.caja-datos-user,
  .caja-datos-contra {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

input[type="text"],
input[type="password"] {
    border: 1.5px solid gray;
    background-color: white;
    height: 35px;
    border-radius: 5px;
    padding: 5px 0px 5px 35px;
    font-family: inherit;
    width: 100%;
}

/**/
#portada{
    background-image: url('../../../assets/imag/LIVINGKITS_casas-modernas_1_151113.jpg');
}