<div class="box-content">
    <div class="form">
        <h2>Register</h2>
        <form class="formularioLogin formLogin" [formGroup]="formLogin" (submit)="submitLogin()">
            <div class="cajaDatos usuario caja-datos-user">
                <p class="icono-user" for="usuario">
                    <fa-icon [icon]="user"> </fa-icon>
                </p>
                <input
                    [className]="formLogin.get('usuario')?.touched && formLogin.get('usuario')?.errors?.['required'] ? 'error-input' : '' "
                    class="flex-grow-1 datos-user validacion" type="text" id="usuario" formControlName="usuario"
                    placeholder="Username" name="usuario">
                <span class="errorMessage"
                    *ngIf="formLogin.get('usuario')?.touched && formLogin.get('usuario')?.errors?.['required'] ">Este
                    campo es requerido</span>
            </div>
            <div class="cajaDatos  caja-datos-contra">
                <p class="icono-user" for="email">
                    <fa-icon [icon]="mail"> </fa-icon>
                </p>
                <input 
                    [className]="formLogin.get('email')?.touched && formLogin.get('email')?.errors?.['required'] ? 'error-input' : '' "
                    class="flex-grow-1 validacion" type="email" id="email" formControlName="email"
                    placeholder="Email">
                <span class="errorMessage"
                    *ngIf="formLogin.get('email')?.hasError && (formLogin.get('email')?.dirty || formLogin.get('email')?.touched)">Introduzca un email valido</span>
            </div>
            <div class="cajaDatos  caja-datos-contra">
                <p class="icono-user" for="usuario">
                    <fa-icon [icon]="lock"> </fa-icon>
                </p>
                <input 
                    [className]="formLogin.get('password')?.touched && formLogin.get('password')?.errors?.['required'] ? 'error-input' : '' "
                    class="flex-grow-1 validacion" type="password" id="password" formControlName="password"
                    placeholder="Password">
                <span class="errorMessage"
                    *ngIf="formLogin.get('password')?.hasError('required') && (formLogin.get('password')?.dirty || formLogin.get('password')?.touched)">Este
                    campo es requerido</span>
            </div>
            <input class="btn-general btn w-100 my-3" type="submit" value="Log in">
        </form>
        <span class="spanLogin">Ya tienes una cuenta? <a href="#">Inicia sesion</a></span>
        <div class="box-registres">
            <span>Registrate con:</span>
            <div class="iconos">
                <a class="face" href=""><i class="fa fa-facebook"> </i></a>
                <a href=""><i class="fa fa-google"></i></a>
                <a href=""><i class="fa fa-twitter"> </i></a>
            </div>
            <div class="btn-descargas">
                <button><img src="../../../assets/imag/down-apple.png" alt=""></button>
                <button><img src="../../../assets/imag/down-g-p.png" alt=""></button>
            </div>
        </div>
    </div>
    <div id="portada">
        <span> We help you<br> find your home
        </span>
    </div>