<div id="perfil" class=" m-5">
    <h1 class="text-center m-5"><b>Tu perfil</b></h1>

    <div id="bordes" class="info-user">
        <div class="d-flex align-items-center">
            <img class="avatar mx-4" src="assets/imag/cara_5.png" alt="avatar">
            <div>
                <span class="d-block nickname">@TrixXii</span>
                <span class="name"> Beatriz Muñoz</span>
            </div>
        </div>
        <div id="centrar">
            <div>
                <div id="bordes" class="infoEdit">
                    <form class="editNick" action="" method="get">
                        <i class="fa fa-user"></i> <input type="text" placeholder="Nick Name">
                        <button><i class="fa fa-pencil"></i></button>
                    </form>
                    <form class="editName" action="" method="get">
                        <i class="fa fa-id-card-o"></i> <input type="text" placeholder="Nombre completo">
                        <button><i class="fa fa-pencil"></i></button>

                    </form>
                    <form class="editEmail" action="" method="get">
                        <i class="fa fa-envelope"></i> <input type="text" placeholder="Correo">
                        <button><i class="fa fa-pencil"></i></button>

                    </form>
                    <form class="editPWD" action="" method="get">
                        <i class="fa fa-lock"></i> <input type="text" placeholder="Contraseña">
                        <button><i class="fa fa-pencil"></i></button>

                    </form>
                    <form class="editTlf" action="" method="get">
                        <i class="fa fa-phone"></i><input type="text" placeholder="Telefono">
                        <button><i class="fa fa-eye-slash"></i></button>
                        <button><i class="fa fa-pencil"></i></button>

                    </form>
                </div>
                <div class="contacUser" id="bordes">
                    <h4 class="text-center">Contactos recientes</h4>
                    <table class="table mt-4 ">
                        <thead>
                            <tr>
                                <th scope="col"><img class="avatarTabl mx-2" src="assets/imag/cara_5.png" alt="avatar">Remires pende <button class="bntCont"><i class="fa fa-phone"></i></button></th>
                                <th scope="col"> <img class="avatarTabl mx-2" src="assets/imag/cara_5.png" alt="avatar">Remires pende <button class="bntCont"><i class="fa fa-phone"></i></button></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><img class="avatarTabl mx-2" src="assets/imag/cara_5.png" alt="avatar">Remires pende <button class="bntCont"><i class="fa fa-phone"></i></button></th>
                                <th><img class="avatarTabl mx-2" src="assets/imag/cara_5.png" alt="avatar">Remires pende <button class="bntCont"><i class="fa fa-phone"></i></button></th>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="bordes" class="confUser">
                <h3 class="text-center"><i class="fa fa-cog "></i> Ajustes</h3>
                <div class="w-75 m-auto mt-5 ">
                    <div class="">
                        <label for="noved"><b>Novedades y recomendaciones</b></label><input class="form-check-input" type="checkbox" id="noved" name="noved">
                        <p>Te mantendremos al día de las novedades del portal</p>
                    </div>
                    <div>
                        <label for="noti"><b>Activar notificaciones</b></label> <input class="form-check-input" type="checkbox" id="noti" name="noti">
                        <p>Te informamos de cada nueva publicación</p>
                    </div>
                    <div>
                        <label for="ofer"><b> Ofertas y promociones</b></label><input type="checkbox" class="form-check-input" id="ofer" name="ofer">
                        <p>Información de inmobiliarias o promotoras que ofrecen inmuebles</p>
                    </div>
                    <div>
                        <label for="ofer"><b> Ofertas y promociones</b></label><input type="checkbox" class="form-check-input" id="ofer" name="ofer">
                        <p>Información de inmobiliarias o promotoras que ofrecen inmuebles</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="recomendados">
    <h1 class="text-center m-2"><b>Recomendados para ti</b></h1>
    <app-slider></app-slider>
</div>