#header {
    border-bottom: 1px solid #C8CCD5;
}

#centrar {
    display: flex;
    justify-content: center;
}

#recomendados {
    padding: 30px 0px;
}

.avatar,
.avatarTabl {
    width: 80px;
    height: 79px;
    vertical-align: middle;
    border-radius: 50%;
}

.avatarTabl {
    width: 40px;
    height: 40px;
}

.confUser {
    width: 40%;
}

.confUser i {
    color: #C8CCD5;
}

#bordes {
    background-color: white;
    margin: 30px 20px;
    border-radius: 20px;
    padding: 40px 20px;
    filter: drop-shadow(0px 2px 10px rgba(185, 185, 185, 0.402));
}

.infoEdit {
    height: auto;
    width: auto;
    text-align: center;
}

.borderInput {
    border-bottom: 1.5px solid #C8CCD5;
}

.infoEdit input[type="text"] {
    background-color: white;
    border: none;
    padding: 8px;
}

.infoEdit i {
    font-size: 20px;
}

.borderInput>i {
    width: 70px;
    margin-left: -30px;
    color: #2595be;
}

.borderInput>span,
.borderInput button {
    border: 0px;
    background-color: white;
    margin-left: 4px;
    width: 30px;
    color: #C8CCD5;
}

.form-check-input[type=checkbox] {
    margin-left: 41px;
    font-size: 18px;
}

.form-check-input:checked {
    background-color: #2595be;
}

.confUser p {
    margin-left: 8px;
}

.confUser label {
    width: 263px;
}

.bntCont {
    border: solid 1px #2595be;
    border-radius: 5px;
    color: #2595be;
    padding: 3px 16px;
    margin-left: 3px;
    background-color: white;
}

#messGuardado {
    background-color: #fbffa861;
    color: rgb(0, 0, 0);
    padding: 16px;
    margin-top: 16px;
    border-radius: 5px;
}

figure {
    position: relative;
}

.iditFoto {
    position: absolute;
    right: 25px;
    bottom: 3px;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(146, 146, 146);
    padding: 1.5px 6px;
    border-radius: 50%;
    color: #2595be;
}

@media(max-width: 1355px) {
    .form-check-input[type=checkbox] {
        margin-left: 13px;
    }
    .confUser {
        width: auto;
    }
}

@media(max-width: 1300px) {
    #centrar {
        display: block;
    }
    .wi1300 {
        display: flex;
    }
    .bntCont {
        width: 100%;
        margin-top: 10px;
    }
    .infoEdit {
        width: 50%;
    }
}

@media(max-width: 1043px) {
    .wi1300 {
        display: block;
    }
    .infoEdit {
        width: auto;
    }
    .contacUser {
        margin: auto;
    }
}

@media(max-width: 572px) {
    .m-5 {
        margin: 1rem!important;
    }
    .confUser label {
        width: 119px;
    }
}

dialog {
    position: fixed;
}