<div id="header">
    <app-header></app-header>
</div>

<div id="perfil" class=" m-5">
    <h1 class="text-center">Tu perfil</h1>

    <div class="info-user">
        <div class="d-flex align-items-center">
            <img class="avatar mx-4" src="assets/imag/cara_5.png" alt="avatar">
            <div>
                <span class="d-block nickname">@TrixXii</span>
                <span class="name"> Beatriz Muñoz</span>
            </div>
        </div>

        <div class="infoEdit">
            <form class="editNick" action="" method="get">
                <i class="fa fa-user"></i> <input type="text" placeholder="Nick Name">
                <button><i class="fa fa-pencil"></i></button>
            </form>
            <form class="editName" action="" method="get">
                <i class="fa fa-id-card-o"></i> <input type="text" placeholder="Nombre completo">
                <button><i class="fa fa-pencil"></i></button>

            </form>
            <form class="editEmail" action="" method="get">
                <i class="fa fa-envelope"></i> <input type="text" placeholder="Correo">
                <button><i class="fa fa-pencil"></i></button>

            </form>
            <form class="editPWD" action="" method="get">
                <i class="fa fa-lock"></i> <input type="text" placeholder="Contraseña">
                <button><i class="fa fa-pencil"></i></button>

            </form>
            <form class="editTlf" action="" method="get">
                <i class="fa fa-phone"></i><input type="text" placeholder="Telefono">
                <button><i class="fa fa-eye-slash"></i></button>
                <button><i class="fa fa-pencil"></i></button>

            </form>
        </div>
    </div>

</div>

<div id="footer">
    <app-footer></app-footer>
</div>