<div id="about" class="p-5  ">

    <h1 class="mb-3"><b>About Us</b></h1>
    <div class="infoEmpresa w-50 ">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nulla soluta ipsa voluptatem consectetur amet, perferendis doloribus sunt inventore quos deleniti quisquam rerum hic dignissimos natus eos modi perspiciatis numquam. </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, voluptate modi? Amet, qui minus nobis maiores corrupti, sapiente at perspiciatis ipsa ipsam illum dolor quam magnam consequatur cumque omnis mollitia!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum aspernatur culpa natus numquam in quod reprehenderit commodi vel voluptas eos.</p>
    </div>
    <div class="imagEmpresa"></div>
</div>



<div id="equipo">
    <h1 class="text-center mt-5"><b>Team</b></h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="assets/imag/p1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b>Beatriz Muñoz Abellan</b></h5>
                    <p class="card-text">I'm 21 years old and I'm a web programmer and I'm in charge of the front-end area. I chose this branch because I was very interested in web design and programming when I did my intermediate degree in Microcomputer Systems and Networks
                        (SMX) at L'Estatut.</p>
                </div>
                <div class="text-center m-3">
                    <button><i class="fa fa-twitter"></i></button>
                    <button><i class="fa fa-instagram"></i></button>
                    <button><i class="fa fa-facebook"></i></button>
                    <button><i class="fa fa-linkedin"></i></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/imag/Fotor2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b>Manish Thakur</b></h5>
                    <p class="card-text">STUCOM students currently studying the second year of DAW (web application development) and other studies: DAM (multiplatform application development) and Technological Baccalaureate. With experience as an internship in web development
                        in two companies, one located in Barcelona called PhpNinja and the other in London Ringley. </p>
                </div>
                <div class="text-center m-3">
                    <button><i class="fa fa-twitter"></i></button>
                    <button><i class="fa fa-instagram"></i></button>
                    <button><i class="fa fa-facebook"></i></button>
                    <button><i class="fa fa-linkedin"></i></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/imag/laura.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b>Laura Alison Choque Copajira</b></h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="text-center m-3">
                    <button><i class="fa fa-twitter"></i></button>
                    <button><i class="fa fa-instagram"></i></button>
                    <button><i class="fa fa-facebook"></i></button>
                    <button><i class="fa fa-linkedin"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>