<div id="about" class="p-5  ">

    <h1 class="mb-3"><b>About Us</b></h1>
    <div class="infoEmpresa w-50 ">
        <p>We are a company dedicated to providing high-quality real estate services to our clients. Our goal is to make it easier for people to access services such as buying, renting and building homes and land through an online platform.<br> Our team
            is made up of professionals with extensive experience in the real estate sector, allowing us to offer custom solutions to each of our clients. We offer home building services, sale of house designs and land, and as we expand our business,
            we will add more services to meet the needs of our clients.<br> On our website, clients can select the service they are looking for and filter the results according to their preferences. They can also access complete details and descriptions
            of each service and contact companies directly through an online form. Our mission is to provide quality service and a satisfactory experience to our clients, helping them find the home of their dreams or the ideal land for their building
            project. Visit us today and start your real estate journey with us!</p>
    </div>
    <div class="imagEmpresa"></div>
</div>



<div id="equipo">
    <h1 class="text-center mt-5"><b>Team</b></h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="assets/imag/p1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b>Beatriz Muñoz Abellan</b></h5>
                    <p class="card-text">I'm 21 years old and I'm a web programmer and I'm in charge of the front-end area. I chose this branch because I was very interested in web design and programming when I did my intermediate degree in Microcomputer Systems and Networks
                        (SMX) at L'Estatut.</p>
                </div>
                <div class="text-center m-3">
                    <button><i class="fa fa-twitter"></i></button>
                    <button><i class="fa fa-instagram"></i></button>
                    <button><i class="fa fa-facebook"></i></button>
                    <button><i class="fa fa-linkedin"></i></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/imag/Fotor2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b>Manish Thakur</b></h5>
                    <p class="card-text">STUCOM students currently studying the second year of DAW (web application development) and other studies: DAM (multiplatform application development) and Technological Baccalaureate. With experience as an internship in web development
                        in two companies, one located in Barcelona called PhpNinja and the other in London Ringley. </p>
                </div>
                <div class="text-center m-3">
                    <button><i class="fa fa-twitter"></i></button>
                    <button><i class="fa fa-instagram"></i></button>
                    <button><i class="fa fa-facebook"></i></button>
                    <button><i class="fa fa-linkedin"></i></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/imag/alison.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b>Laura Alison Choque Copajira</b></h5>
                    <p class="card-text">I'm 24 years old, I'm currently in my last year of a higher degree in web application development (DAW) at the STUCOM study center. Previously I did Fullstack programming courses in Factoria5. I started studying the front end independently
                        and I like the idea of learning more in an Institute.
                    </p>
                </div>`
                <div class="text-center m-3">
                    <button><i class="fa fa-twitter"></i></button>
                    <button><i class="fa fa-instagram"></i></button>
                    <button><i class="fa fa-facebook"></i></button>
                    <button><i class="fa fa-linkedin"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>