<div *ngIf="publicacion">
  <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div
        class="carousel-item"
        *ngFor="let image of sliderImages; let i = index"
        [ngClass]="{ active: currentSlide === i }"
      >
        <img [src]="image" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
    >
      <span class="" aria-hidden="true"
        ><i class="fa fa-angle-left" style="font-size: 50px"></i
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
    >
      <span class="" aria-hidden="true"
        ><i class="fa fa-angle-right" style="font-size: 50px"></i
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="slider-thumbnails">
    <ul>
      <li *ngFor="let image of sliderImages; let i = index">
        <div (click)="selectSlide(i)">
          <img
            [src]="image"
            alt="Thumbnail {{ i + 1 }}"
            [ngClass]="{ active: currentSlide === i }"
          />
        </div>
      </li>
    </ul>
  </div>
  <div class="position-relative">
    <div class="contInfoCasa m-auto">
      <div class="row">
        <h2 class="">
          {{ publicacion.title }}
        </h2>
        <p class="card-text">
          <b>{{ publicacion.house.type }} </b>
        </p>
        <h6 class="precio_Des col"><b> 599.900 €</b></h6>

        <div class="contact col-7 text-end">
          <a href="#" class="info-contact on"
            ><i class="fa fa-envelope-o"></i
          ></a>
          <a href="#" class="info-contact on"><i class="fa fa-phone"></i></a>
          <a href="#" class="info-contact"><i class="fa fa-heart-o"></i></a>
        </div>
      </div>
      <hr />
      <div class="mt-5">
        <h2>Descripcion</h2>
        <div class="mt-4 m-auto" style="width: 95%">
          <p>
            {{ publicacion.description }}
          </p>
          <p>
            {{ publicacion.details }}
          </p>
        </div>
      </div>
      <div class="position-relative">
        <h2>Características de la vivienda</h2>
        <div>
          <h5 class="mx-3 text-secondary">Características básicas</h5>
          <div class="cont_Caracteris mt-3">
            <div class="d-flex caj-catris">
              <p class="mx-3"><i class="fa fa-home casaFa"></i></p>
              <span>
                Tipo de inmueble
                <b class="d-block">{{ publicacion.house.type }}</b></span
              >
            </div>
            <div class="d-flex caj-catris">
              <p class="mx-3"><i class="fa fa-bathtub"></i></p>
              <span>
                Baños
                <b class="d-block">{{ publicacion.house.toilets }}</b></span
              >
            </div>
            <div class="d-flex caj-catris">
              <p class="mx-3"><i class="fa fa-hotel"></i></p>
              <span>
                Habitaciones
                <b class="d-block">{{ publicacion.house.nBedrooms }}</b></span
              >
            </div>
            <div class="d-flex caj-catris">
              <p class="mx-3"><i class="fa fa-building"></i></p>
              <span>
                Nivel de plantas
                <b class="d-block">{{ publicacion.house.floors }}</b></span
              >
            </div>
            <div class="d-flex caj-catris">
              <p class="mx-3">
                <svg class="casaFa" viewBox="0 0 24 24">
                  <path
                    fill="#636161"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M4.7 17.3a1 1 0 0 1 1 1V21a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2.7a1 1 0 0 1 1-1h2.7zm17 0a1 1 0 0 1 1 1V21a1 1 0 0 1-1 1H19a1 1 0 0 1-1-1v-2.7a1 1 0 0 1 1-1h2.7zM16 19.95a.75.75 0 0 1 .102 1.493L16 21.45H8a.75.75 0 0 1-.102-1.493L8 19.95h8zm4.5-12.2a.75.75 0 0 1 .743.648l.007.102v7a.75.75 0 0 1-1.493.102l-.007-.102v-7a.75.75 0 0 1 .75-.75zM4.7 2a1 1 0 0 1 1 1v2.7a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h2.7zm17 0a1 1 0 0 1 1 1v2.7a1 1 0 0 1-1 1H19a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h2.7zm-5.703.579a.75.75 0 0 1 .107 1.492l-.101.008-8 .028a.75.75 0 0 1-.107-1.493l.101-.007 8-.028zM3.5 7.75a.75.75 0 0 1 .743.648l.007.102v7a.75.75 0 0 1-1.493.102L2.75 15.5v-7a.75.75 0 0 1 .75-.75z"
                  ></path>
                </svg>
              </p>
              <span>
                Superficie
                <b class="d-block"
                  >{{ publicacion.house.usefulLivinArea }} m²</b
                ></span
              >
            </div>
          </div>
          <h5 class="m-3 text-secondary">Extras de la Vivienda</h5>
          <div class="cont_Caracteris mt-3">
            <div
              class="d-flex caj-catris"
              *ngFor="let extra of publicacion.house.feature"
            >
              <p class="mx-3">
                <img
                  class="casaFa"
                  src="/assets/svg/{{ extra.name | lowercase }}.svg"
                  alt="Trastero"
                />
              </p>
              <span> {{ extra.name }} <b class="d-block"> 2 plazas</b></span>
            </div>
          </div>
        </div>
        <div class="contEmpresa">
          <div>
            <div class="img-Emp">
              <img
                class="back-Img"
                src="/assets/imag/ryan-ancill-nGsVMkRatgM-unsplash.jpg"
                alt="Imagen Empresa"
              />
              <img
                class="logo-empre mx-4"
                src="assets/imag/cara_5.png"
                alt="avatar"
              />
            </div>
            <div class="info-Empresa">
              <h2>{{ publicacion.idCompany.name }}</h2>
              <div class="contact_Empre text-start mx-5 mt-3">
                <p>
                  <b
                    ><i class="fa fa-envelope mx-3"></i>
                    <span> correoempresa@gmail.com</span></b
                  >
                </p>
                <p>
                  <b
                    ><i class="fa fa-phone mx-3"></i>
                    <span> {{ publicacion.idCompany.phone }}</span></b
                  >
                </p>
                <p class="web_contact">
                  <img
                    class="mx-3"
                    src="/assets/svg/globo.svg"
                    alt="webEmpresa"
                  />
                  <span>
                    <a href="#" class="webempresa">
                      {{ publicacion.idCompany.link || "Without link" }}</a
                    ></span
                  >
                </p>
              </div>
              <div class="mb-3 mt-4">
                <a class="btn btn-dark w-75">Contactar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
