<div id="carrusel">
    <div id="contenidoReco">
        <div class="caja">
            <div class="card">
                <img src="assets/imag/chalet-la-zabaleta-idealista-1658919505.jpg" class="card-img-top gap-2" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Promoción RESIDENCIAL CASABLANCA</h6>
                    <h6 class="ext-muted "><b> 599.900 €</b></h6>
                    <p class="card-text"><b>Obra Nueva </b>· Casa o chalet</p>
                    <div class="d-flex justify-content-center">
                        <div class="info-casaMin"><img src="assets/svg/cama (1).png" class="imag-info" alt="..."><span>4 Habi.</span></div>
                        <div class="info-casaMin"><img src="assets/svg/ducha.png" class="imag-info" alt="..."><span>3 baños</span></div>
                        <div class="info-casaMin"><img src="assets/svg/zona.png" class="imag-info" alt="..."><span>284 m²</span> </div>
                    </div>
                    <div class="contact">
                        <a href="#" class=" info-contact on"><i class="fa fa-envelope-o"></i></a>
                        <a href="#" class=" info-contact on"><i class="fa fa-phone"></i></a>
                        <a href="#" class=" info-contact"><i class="fa fa-heart-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="caja">
            <div class="card">
                <img src="assets/imag/chalet-la-zabaleta-idealista-1658919505.jpg" class="card-img-top gap-2" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Promoción RESIDENCIAL CASABLANCA</h6>
                    <h6 class="ext-muted "><b> 599.900 €</b></h6>
                    <p class="card-text"><b>Obra Nueva </b>· Casa o chalet</p>
                    <div class="d-flex justify-content-center">
                        <div class="info-casaMin"><img src="assets/svg/cama (1).png" class="imag-info" alt="..."><span>4 Habi.</span></div>
                        <div class="info-casaMin"><img src="assets/svg/ducha.png" class="imag-info" alt="..."><span>3 baños</span></div>
                        <div class="info-casaMin"><img src="assets/svg/zona.png" class="imag-info" alt="..."><span>284 m²</span> </div>
                    </div>
                    <div class="contact">
                        <a href="#" class=" info-contact on"><i class="fa fa-envelope-o"></i></a>
                        <a href="#" class=" info-contact on"><i class="fa fa-phone"></i></a>
                        <a href="#" class=" info-contact"><i class="fa fa-heart-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="caja">
            <div class="card">
                <img src="assets/imag/chalet-la-zabaleta-idealista-1658919505.jpg" class="card-img-top gap-2" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Promoción RESIDENCIAL CASABLANCA</h6>
                    <h6 class="ext-muted "><b> 599.900 €</b></h6>
                    <p class="card-text"><b>Obra Nueva </b>· Casa o chalet</p>
                    <div class="d-flex justify-content-center">
                        <div class="info-casaMin"><img src="assets/svg/cama (1).png" class="imag-info" alt="..."><span>4 Habi.</span></div>
                        <div class="info-casaMin"><img src="assets/svg/ducha.png" class="imag-info" alt="..."><span>3 baños</span></div>
                        <div class="info-casaMin"><img src="assets/svg/zona.png" class="imag-info" alt="..."><span>284 m²</span> </div>
                    </div>
                    <div class="contact">
                        <a href="#" class=" info-contact on"><i class="fa fa-envelope-o"></i></a>
                        <a href="#" class=" info-contact on"><i class="fa fa-phone"></i></a>
                        <a href="#" class=" info-contact"><i class="fa fa-heart-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="caja">
            <div class="card">
                <img src="assets/imag/chalet-la-zabaleta-idealista-1658919505.jpg" class="card-img-top gap-2" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Promoción RESIDENCIAL CASABLANCA</h6>
                    <h6 class="ext-muted "><b> 599.900 €</b></h6>
                    <p class="card-text"><b>Obra Nueva </b>· Casa o chalet</p>
                    <div class="d-flex justify-content-center">
                        <div class="info-casaMin"><img src="assets/svg/cama (1).png" class="imag-info" alt="..."><span>4 Habi.</span></div>
                        <div class="info-casaMin"><img src="assets/svg/ducha.png" class="imag-info" alt="..."><span>3 baños</span></div>
                        <div class="info-casaMin"><img src="assets/svg/zona.png" class="imag-info" alt="..."><span>284 m²</span> </div>
                    </div>
                    <div class="contact">
                        <a href="#" class=" info-contact on"><i class="fa fa-envelope-o"></i></a>
                        <a href="#" class=" info-contact on"><i class="fa fa-phone"></i></a>
                        <a href="#" class=" info-contact"><i class="fa fa-heart-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="btn prev"></span>
    <span class="btn next"></span>
</div>